@import "vazirmatn/misc/UI/Vazirmatn-UI-font-face.css";
@import "@fontsource/comfortaa";

html, body, #root {
    height: 100%
}

body {
    font-family: Vazirmatn UI, Comfortaa, serif;
}

@keyframes mouse-anim {
    0% {
        top: -5px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: -5px;
    }
}

